/* Обнуление некоторых базовых элементов для поддержания кроссбраузерной согласованности */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Нормализация стилей для таблицы и ячеек */
table {
    width: calc(100% - 80px); /* Устанавливает ширину таблицы */
    margin: 20px auto; /* Центрирование таблицы с отступом */
    border-collapse: collapse; /* Убирает промежутки между ячейками */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Тень вокруг таблицы */
    background-color: #C1CFFC; /* Цвет фона таблицы */
}

td {
    border: 1px solid #000002; /* Цвет и стиль границ ячеек */
    padding: 0; /* Внутренний отступ ячеек */
    text-align: center; /* Выравнивание текста по центру */
    min-width: 20px; /* Минимальная ширина ячеек */
    width: 100px; /* Фиксированная ширина ячеек, можете изменить значение по необходимости */
    min-height: 10px; /* Минимальная высота ячеек */
    color: #000; /* Установка черного цвета текста в ячейках */
    box-sizing: border-box; /* Учитывает padding и border в ширине ячейки */
    white-space: normal; /* Включает перенос текста */
    word-wrap: break-word; /* Переносит слова, чтобы текст не выходил за границы ячейки */
    font-size: 20px; /* Размер шрифта */
    font-family: 'Trebuchet MS', sans-serif; /* Тип шрифта */
    color: #333; /* Цвет шрифта */
}

/* Дополнительное обнуление стилей */
body {
    margin: 0; /* Обнуление внешних отступов */
    font-family: Trebuchet MS, sans-serif; /* Установка шрифта для текста */
}

.input-window {
    display: none; /* Скрытие окна по умолчанию */
    position: fixed; /* Фиксированное позиционирование окна */
    top: 50%; /* Позиционирование по вертикали на 50% */
    left: 50%; /* Позиционирование по горизонтали на 50% */
    transform: translate(-50%, -50%); /* Центрирование окна */
    background: linear-gradient(to bottom right, #1e90ff, #000000); /* Градиент фона окна */
    border-radius: 15px; /* Скругленные углы */
    padding: 15px; /* Внутренний отступ */
    border: 1px solid #888; /* Цвет и стиль границы окна */
    color: white; /* Цвет текста внутри окна */
    z-index: 1000; /* Порядок наложения окна */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 -4px 6px rgba(0, 0, 0, 0.3); /* Тень вокруг окна */
    text-align: center; /* Центрирование текста внутри окна */
}

.input-window h2 {
    margin: 0 0 25px 0; /* Внешние отступы заголовка */
    font-size: 1.5em; /* Размер шрифта заголовка */
}

.input-window label {
    display: inline-block; /* Отображение как блочный элемент в строке */
    margin: 7px 10px 10px 0; /* Внешние отступы меток */
    font-size: 1.4em; /* Размер шрифта меток */
    color: white; /* Цвет текста меток */
    font-family: 'Trebuchet MS', sans-serif; /* Тип шрифта меток */
    text-align: right; /* Выравнивание текста меток по правому краю */
    width: auto; /* Убираем фиксированную ширину */
    vertical-align: middle; /* Вертикальное выравнивание меток по середине */
}

.input-window input[type="number"] {
    width: 90px; /* Увеличенная ширина полей ввода (40px * 1.7) */
    height: 35px; /* Уменьшенная высота полей ввода (30px * 0.8) */
    padding: 5px; /* Внутренний отступ полей ввода */
    margin: 0 10px; /* Внешний отступ полей ввода */
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px; /* Размер шрифта */
}

.input-window .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Отступ между элементами */
    margin-bottom: 15px; /* Нижний отступ группы */
}

.button-group {
    display: flex; /* Гибкое отображение элементов */
    justify-content: space-between; /* Центрирование кнопок */
    margin-top: 20px; /* Внешний отступ сверху */
}

.input-window button {
    background: linear-gradient(to bottom right, #1e90ff, #000000); /* Градиент фона кнопок */
    border: none; /* Убирает границу кнопок */
    padding: 10px 30px; /* Внутренние отступы кнопок */
    color: white; /* Цвет текста кнопок */
    cursor: pointer; /* Курсор в виде руки при наведении */
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Плавные переходы для фона и тени */
    border-radius: 15px; /* Скругленные углы кнопок */
    margin: 0 10px; /* Внешние отступы кнопок */
}

.input-window button:hover {
    background: linear-gradient(to bottom right, #1e90ff, #000000); /* Градиент фона кнопок при наведении */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), inset 0 -4px 6px rgba(0, 0, 0, 0.7); /* Тень вокруг кнопок при наведении */
}
