/* Обнуление некоторых базовых элементов для поддержания кроссбраузерной согласованности */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Нормализация стилей для таблицы и ячеек */
table {
    width: calc(100% - 80px); /* Устанавливает ширину таблицы */
    margin: 20px auto; /* Центрирование таблицы с отступом */
    border-collapse: collapse; /* Убирает промежутки между ячейками */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Тень вокруг таблицы */
    background-color: #5161d6;
}

td {
    border: 1px solid #ddd; /* Цвет и стиль границ ячеек */
    padding: 8px; /* Внутренний отступ ячеек */
    text-align: center; /* Выравнивание текста по центру ячеек */
    min-width: 50px; /* Минимальная ширина ячеек */
    min-height: 50px; /* Минимальная высота ячеек */
    color: #000; /* Установка черного цвета текста в ячейках */
}

td[contenteditable="true"] {
    background-color: #B2B8D5;  /* Фоновый цвет ячеек, которые можно редактировать */
}

/* Дополнительное обнуление стилей */
body {
    margin: 0; /* Обнуление внешних отступов */
    font-family: Trebuchet MS, sans-serif; /* Установка шрифта для текста */
}

.input-window {
    display: none; /* Скрытие окна по умолчанию */
    position: fixed; /* Фиксированное позиционирование окна */
    top: 50%; /* Позиционирование по вертикали на 50% */
    left: 50%; /* Позиционирование по горизонтали на 50% */
    transform: translate(-50%, -50%); /* Центрирование окна */
    background: linear-gradient(to bottom right, #1e90ff, #000000); /* Градиент фона окна */
    border-radius: 15px; /* Скругленные углы */
    padding: 20px; /* Внутренний отступ */
    border: 1px solid #888; /* Цвет и стиль границы окна */
    color: black; /* Цвет текста внутри окна */
    z-index: 1000; /* Порядок наложения окна */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 -4px 6px rgba(0, 0, 0, 0.3); /* Тень вокруг окна */
    text-align: center; /* Центрирование текста внутри окна */
}

.input-window h2 {
    margin: 0 0 20px 0; /* Внешние отступы заголовка */
    font-size: 1em; /* Размер шрифта заголовка */
}

.input-window label {
    display: inline-block; /* Отображение как блочный элемент в строке */
    margin: 10px 30px 10px 0; /* Внешние отступы меток */
    font-size: 1.2em; /* Размер шрифта меток */
}

.input-window input[type="number"] {
    width: 60px; /* Ширина полей ввода */
    padding: 10px; /* Внутренний отступ полей ввода */
    margin: 5px; /* Внешний отступ полей ввода */
    border-radius: 5px; /* Скругленные углы полей ввода */
    border: 1px solid #ccc; /* Цвет и стиль границы полей ввода */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Внутренняя тень полей ввода */
}

.button-group {
    display: flex; /* Гибкое отображение элементов */
    justify-content: center; /* Центрирование кнопок */
    margin-top: 20px; /* Внешний отступ сверху */
}

.input-window button {
    background: linear-gradient(to bottom right, #1e90ff, #000000); /* Градиент фона кнопок */
    border: none; /* Убирает границу кнопок */
    padding: 10px 20px; /* Внутренние отступы кнопок */
    color: white; /* Цвет текста кнопок */
    cursor: pointer; /* Курсор в виде руки при наведении */
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Плавные переходы для фона и тени */
    border-radius: 15px; /* Скругленные углы кнопок */
    margin: 0 10px; /* Внешние отступы кнопок */
}

.input-window button:hover {
    background: linear-gradient(to bottom right, #1e90ff, #000000); /* Градиент фона кнопок при наведении */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), inset 0 -4px 6px rgba(0, 0, 0, 0.7); /* Тень вокруг кнопок при наведении */
}
