{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Panel View</title>
    <link rel="stylesheet" href="{% static 'deck/css/deck_department.css' %}">
</head>
<body>
<div class="side-panel">
    <div class="side-panel-section weather-section">

        <!-- Виджет погоды -->
        <div id="weather-widget">
            <div id="ww_fa645ae869530" v='1.3' loc='auto'
                 a='{"t":"horizontal","lang":"en","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>
                More forecasts: <a href="https://oneweather.org/fuerteventura/august/" id="ww_fa645ae869530_u"
                                   target="_blank">Fuerteventura temperature August</a></div>
            <script async src="https://app2.weatherwidget.org/js/?id=ww_fa645ae869530"></script>
        </div>
    </div>

    <div class="side-panel-section date-time-section">
        <!-- Виджет даты и времени -->
        <div class="cleanslate w24tz-current-time w24tz-middle"
             style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;">
            <p><a href="//24timezones.com/current_time/taiwan_taichung_clock.php" style="text-decoration: none"
                  class="clock24"
                  id="tz24-1723523847-c215785-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMCIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNjZiYWUzMDdkNGQ0YSIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9"
                  title="local time in T'ai-chung" target="_blank" rel="nofollow">Current time</a></p>
            <div id="clock_block_cb66bae307d4d4a"></div>
        </div>
        <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
    </div>

    <div class="side-panel-buttons">
        <a href="{% url 'bridge_department' %}"
           class="side-panel-button bridge-department">
            <span>BRIDGE DEPARTMENT</span>
        </a>
        <a href="{% url 'catering_department' %}"
           class="side-panel-button catering-department">
            <span>CATERING DEPARTMENT</span>
        </a>
        <a href="{% url 'engine_department'%}"
           class="side-panel-button engineering-department">
            <span>ENGINEERING DEPARTMENT</span>
        </a>
        <a href="{% url 'electrical_department'%}"
           class="side-panel-button electrical-engineering-department">
            <span>ELECTRICAL ENGINEERING DEPARTMENT</span>
        </a>
    </div>
</div>

</body>
</html>
